@model WebUI.Models.PinViewModel

@{
    ViewBag.Title = "Pay";
}
<div class="form-horizontal">
    <h4>Pin Invoeren om te betalen</h4>
    @*<div>
        <input action="action" class="btn btn-danger" type="button" value="Terug naar vorige scherm" onclick="window.history.go(-1); return false;" />
    </div>*@
    <hr />
        <div class="container">
            <div class="col-md-offset-4 col-md-4 col-md-offset-4" style="padding: 10px; border: solid medium green;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Pincode: </label>
                                    @Html.Password("myTextBox", Model.PinValue, new { @readonly = "readonly"})
                                </div>
                            </td>
                        </tr>
                        <tr><td>@Model.IncorrectPinValue</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-offset-2 col-md-10">
                <!--pin numpad BEGIN-->
                <div class="row">
                    <div class="col-md-offset-5 col-md-2 col-md-offset-5">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "1", reservationID = Model.reservationID})'">1</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "2", reservationID = Model.reservationID})'">2</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "3", reservationID = Model.reservationID})'">3</button>
                            </div>
                        </div>

                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "4", reservationID = Model.reservationID})'">4</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "5", reservationID = Model.reservationID})'">5</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "6", reservationID = Model.reservationID})'">6</button>
                            </div>
                        </div>
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "7", reservationID = Model.reservationID})'">7</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "8", reservationID = Model.reservationID})'">8</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "9", reservationID = Model.reservationID})'">9</button>
                            </div>
                        </div>
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" onclick="location.href='@Url.Action("PinViewAddNumber", "Pin", new { s = "0", reservationID = Model.reservationID})'">0</button>
                                <button type="button" onclick="location.href='@Url.Action("PinViewRemoveNumber", "Pin", new { reservationID = Model.reservationID})'">Backspace</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--pin numpad END-->
                @*<input type="submit" value="Betaal" class="btn btn-danger" onclick="location.href='@Url.Action("PrintTickets","Reservation", Model)'">*@
                <button type="button" id="oneclick" class="btn btn-danger" onclick="location.href='@Url.Action("FinishPin","Pin", new { reservationID = Model.reservationID })';disableButton(this)">Betaal &amp; Print Tickets</button>
                <!--<input action="action" class="btn btn-danger" type="button" value="Start nieuwe bestelling" onclick="window.history.go(-4); return false;" />-->
            </div>
        </div>
    </div>

