@model WebUI.Models.Order
@{
    ViewBag.Title = "OrderTickets";
}

<body>
    <div class="text-center">
        @*<p>*@
        <br />
        <h2>Je bestelt nu tickets voor @ViewBag.MovieName</h2><br />
        <p>Selecteer het aantal gewenste tickets.</p>
        <b>Let op:</b><p>Voor het studententarief dient een geldige studentenpas getoond te worden bij de ingang!</p>
        <b>Let op:</b><p>Bestel minimaal 1 en maximaal 10 tickets!</p>
        <p style="color:red"><b>@ViewBag.SoldOut</b></p>
        @*</p>*@
        @using (Html.BeginForm())
        {
        <p style="display:none">Reservering ID: @Html.DisplayFor(x => Model.reservationID) Show ID: @Html.DisplayFor(x => Model.showID) </p>
        <table align="center" style="border-spacing: 10px; border-collapse: separate;">
            <tr>
                <th scope="col">Type ticket</th>
                <th scope="col">Prijs</th>
                <th scope="col">Aantal</th>
            </tr>
            <tr>
                <td>Standaard</td>
                <td>€@ViewBag.NormalPrice</td>
                <td>@Html.TextBox("normalTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
            </tr>
            <tr>
                <td>Kind</td>
                <td>€@ViewBag.ChildPrice</td>
                <td>@Html.TextBox("childTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>€@ViewBag.StudentPrice</td>
                <td>@Html.TextBox("studentTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
            </tr>
            <tr>
                <td>Senior</td>
                <td>€@ViewBag.SeniorPrice</td>
                <td>@Html.TextBox("seniorTickets", 0, new { @type = "number", @min = "0", @max = "10", @style = "width:50px" })</td>
            </tr>
        </table>


        <input class="btn btn-danger" type="submit" value="Bestellen" />
}
    </div>
</body>



